<a href="https://colab.research.google.com/github/FaqihRamadhan/AlgoritmaDanPemrograman_POLINES/blob/main/Jobsheet01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Praktikum 01 Menghitung Luas Persegi Panjang

In [ ]:
p = int(input("Masukkan panjanng:"))
l = int(input("Masukkan lebar"))
luas = p * l
print("Luas persegi =", luas)

Masukkan panjanng:5
Masukkan lebar5
Luas persegi = 25

#Praktikum 02 Menghitung Luas Segitiga(Rumus Heron)

In [ ]:
import math

a = float(input("Masukkan nilai a:"))
b = float(input("Masukkan nilai b:"))
c = float(input("Masukkan nilai c:"))

s = (a+b+c)/2
luas = math.sqrt(s*(s-a)*(s-b)*(s-c))
print("Luas segitiga=", luas)

Masukkan nilai a:5
Masukkan nilai b:5
Masukkan nilai c:5
Luas segitiga= 10.825317547305483

#Praktikum 03 Konversi Suhu Celcius ke Fahrenheit

In [ ]:
c = float(input("Masukkan suhu (째C): "))
f = (c * 9/5) + 32
print("Hasil Konversi=", f, "째F")

Masukkan suhu (째C): 12
Hasil Konversi= 53.6 째F

#Praktikum 04 Menghitung Umur Berdasarkan Tahun Lahir

In [ ]:
tahun_lahir = int(input("Masukkan tahun lahir:"))
tahun_sekarang = 2025
umur = tahun_sekarang - tahun_lahir
print("Umur anda=", umur, "tahun")

Masukkan tahun lahir:2006
Umur anda= 19 tahun

#Praktikum 05 Menghitung Luas Lingkaran

In [ ]:
import math

r = float(input("Masukkan jari-jari lingkaran:"))
luas = math.pi * r * r
print("Luas lingkaran=", luas)

Masukkan jari-jari lingkaran:5
Luas lingkaran= 78.53981633974483

#Praktikum 06 Menjumlahkan Tiga Bilangan

In [ ]:
a = int(input("Masukkan bilangan pertama:"))
b = int(input("Masukkan bilangan keda:"))
c = int(input("Masukkan bilangan ketiga:"))
jumlah = a + b + c
print("Jumlah =", jumlah)

Masukkan bilangan pertama:2
Masukkan bilangan keda:2
Masukkan bilangan ketiga:2
Jumlah = 6

# Penugasan 3 Menghitung Volume Balok

In [2]:
p = int(input("Masukkan Panjang:"))
l = int(input("Masukkan Lebar:"))
t = int(input("Masukkan Tinggi:"))

v = p * l * t
print("Volume Balok=", v)

Masukkan Panjang:10
Masukkan Lebar:10
Masukkan Tinggi:10
Volume Balok= 1000

#Penugasan 4 Konversi waktu Ke Detik

In [4]:
  total_detik = int(input("Masukkan detik:"))
  jam = total_detik // 3600
  sisa_detik = total_detik % 3600
  menit = sisa_detik // 60
  detik = sisa_detik % 60

  print(f"{jam} jam, {menit} menit, {detik} detik")

Masukkan detik:3670
1 jam, 1 menit, 10 detik

#Penugasan 5 Rata rata Nilai Tiga Mata Kuliah

In [13]:
nilai1 = float(input("Masukkan Nilai Matakuliah 1:"))
nilai2 = float(input("Masukkan Nilai Matakuliah 2:"))
nilai3 = float(input("Masukkan Nilai Matakuliah 3:"))

rata_rata = (nilai1 + nilai2 + nilai3)/3
if rata_rata >= 60:
  status = "LULUS"
else:
  status = "TIDAK LULUS"

print("Rata-rata Nilai=", rata_rata)
print("Status=", status)

Masukkan Nilai Matakuliah 1:90
Masukkan Nilai Matakuliah 2:90
Masukkan Nilai Matakuliah 3:90
Rata-rata Nilai= 90.0
Status= LULUS

#Penugasan 6 Menghitung Diskon Belanja

In [19]:
belanja = float(input("Masukkan total belanja:"))

if belanja >= 500000:
    diskon = 0.20
elif belanja >= 250000:
    diskon = 0.10
else:
    diskon = 0.0

potogan = belanja * diskon
total_bayar = belanja - potogan

print("Diskon=", potogan)
print("Total Bayar=", total_bayar)

Masukkan total belanja:600000
Diskon= 120000.0
Total Bayar= 480000.0