<a href="https://colab.research.google.com/github/FaqihRamadhan/AlgoritmaDanPemrograman_POLINES/blob/main/Jobsheet02.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Praktikum 1

In [2]:
# Integer
umur = 20

print("Umur: ", umur, "→",type(umur))

# Float
Tinggi =170.5
print("Tinggi:", Tinggi, "→",type(Tinggi))

# String
nama = "Faqih"
print("Nama ;", nama, "→", type(nama))

# Boolean
mahasiswa = True
print("Mahasiswa:", mahasiswa, "→", type(mahasiswa))

# List
nilai = [80, 85, 90]
print("Nilai:", nilai, "→", type(nilai))

# Tupple
koordinat =(10, 20)
print("Koordinat:", koordinat, "→", type(koordinat))

# Dictionary
mahasiswa = {"nama": "Faqih", "umur": 20, "prodi": "TRK"}
print("Data Mahasiswa:", mahasiswa, "→", type(mahasiswa))

# Set
hobi = {"Membaca", "Olaharaga", "musik"}
print("Hobi:", hobi, "→", type(hobi))

Umur:  20 → <class 'int'>
Tinggi: 170.5 → <class 'float'>
Nama ; Faqih → <class 'str'>
Mahasiswa: True → <class 'bool'>
Nilai: [80, 85, 90] → <class 'list'>
Koordinat: (10, 20) → <class 'tuple'>
Data Mahasiswa: {'nama': 'Faqih', 'umur': 20, 'prodi': 'TRK'} → <class 'dict'>
Hobi: {'Olaharaga', 'musik', 'Membaca'} → <class 'set'>

#Praktikum 2

In [ ]:
 # Input string
nama = input("Masukkan nama Anda: ")

 # Input integer
umur = int(input("Masukkan umur Anda: "))

# Input float
tinggi = float(input("Masukkan tinggi badan (cm): "))

# Output standar
print("Halo,", nama, "umur Anda:", umur, "tahun, tinggi:", tinggi, "cm")
# Output dengan format()
print("Halo {0}, umur Anda {1} tahun, tinggi {2} cm".format(nama, umur, tinggi))
# Output dengan f-string
print(f"Halo {nama}, umur Anda {umur} tahun, tinggi {tinggi} cm")

Masukkan nama Anda: Faqih
Masukkan umur Anda: 19
Masukkan tinggi badan (cm): 165
Halo, Faqih umur Anda: 19 tahun, tinggi: 165.0 cm
Halo Faqih, umur Anda 19 tahun, tinggi 165.0 cm
Halo Faqih, umur Anda 19 tahun, tinggi 165.0 cm

#Praktikum 3

In [ ]:
a = 15
b = 4

print("a + b = ", a + b)
print("a - b = ", a - b)
print("a * b = ", a * b)
print("a / b = ", a / b)
print("a // b = ", a // b)
print("a % b = ", a % b)
print("a ** b = ", a ** b)

a + b =  19
a - b =  11
a * b =  60
a / b =  3.75
a // b =  3
a % b =  3
a ** b =  50625

#Praktikum 4

In [ ]:
x = 10
y = 20

print("x == y:", x == y)
print("x != y:", x != y)
print("x < y:", x < y)
print("x > y:", x > y)
print("x >= y:", x >= y)
print("x <= y:", x >= y)

x == y: False
x != y: True
x < y: True
x > y: False
x >= y: False
x <= y: False

#Praktikum 5

In [ ]:
#Operator logika daar

a = True
b = False

print("a and b =", a and b)
print("a or b =", a or b)
print("not a =", not a)

#Studi kasus nyata : kelulusan
nilai = int(input("Masukkan nilai: "))
absen = int(input("Masukkan jumlah kehadiran: "))

lulus_nilai = nilai >= 60
lulus_hadir = absen >= 12  # dari 16 Pertemuan

if lulus_nilai and lulus_hadir:
    print("Status: Lulus")
else:
    print("Status: Tidak Lulus")

a and b = False
a or b = True
not a = False
Masukkan nilai: 75
Masukkan jumlah kehadiran: 5
Status: Tidak Lulus

#Praktikum 6

In [ ]:
barang = input ("Masukkan nama barang:")
harga = float(input("Masukkan harga barang:"))
jumlah = int(input("Masukkan jumlah barang:"))

total = harga * jumlah

#Aturan diskon
if total >= 500000:
  diskon = 0.2
elif total >= 250000:
  diskon = 0.1
else:
  diskon = 0

potongan = total * diskon
bayar = total - potongan

print("\n===== Struk Belanja =====")
print(f"Barang:", barang)
print(f"Harga:", harga)
print(f"Jumlah:", jumlah)
print(f"Total Harga:", total)
print(f"Diskon:", diskon * 100, "%")
print(f"bayar:, Rp{bayar}")

Masukkan nama barang:meja
Masukkan harga barang:250000
Masukkan jumlah barang:1

===== Struk Belanja =====
Barang: meja
Harga: 250000.0
Jumlah: 1
Total Harga: 250000.0
Diskon: 10.0 %
bayar:, Rp225000.0

#Identitas Mahasiswa

In [4]:
# Program 3: Identitas Mahasiswa

# Menyimpan data ke dalam variabel
nama = "Muhammad Faqih"
umur = 20
tinggi = 165.5
status_aktif = True

# Menampilkan hasil dengan format rapi menggunakan f-string
print("=== Identitas Mahasiswa ===")
print(f"Nama          : {nama}")
print(f"Umur          : {umur} tahun")
print(f"Tinggi Badan  : {tinggi} cm")
print(f"Status Aktif  : {status_aktif}")

=== Identitas Mahasiswa ===
Nama          : Muhammad Faqih
Umur          : 20 tahun
Tinggi Badan  : 165.5 cm
Status Aktif  : True

#Operasi Aritmatika

In [13]:
# Program 4: Operasi Aritmatika

# Input dua bilangan bulat
a = int(input("Masukkan bilangan pertama: "))
b = int(input("Masukkan bilangan kedua: "))

# Operasi aritmatika
print("\n=== Hasil Operasi Aritmatika ===")
print(f"Penjumlahan       : {a} + {b} = {a + b}")
print(f"Pengurangan       : {a} - {b} = {a - b}")
print(f"Perkalian         : {a} * {b} = {a * b}")
print(f"Pembagian         : {a} / {b} = {a / b}")
print(f"Sisa Bagi         : {a} % {b} = {a % b}")
print(f"Perpangkatan      : {a} ** {b} = {a ** b}")

Masukkan bilangan pertama: 30
Masukkan bilangan kedua: 20

=== Hasil Operasi Aritmatika ===
Penjumlahan       : 30 + 20 = 50
Pengurangan       : 30 - 20 = 10
Perkalian         : 30 * 20 = 600
Pembagian         : 30 / 20 = 1.5
Sisa Bagi         : 30 % 20 = 10
Perpangkatan      : 30 ** 20 = 348678440100000000000000000000

#Konversi Nilai

In [11]:
# Program 5: Konversi Nilai

# Input bilangan desimal
nilai = float(input("Masukkan nilai desimal: "))

# Menampilkan berbagai konversi
print(f"Bentuk integer dari {nilai} adalah {int(nilai)}")
print(f"Bentuk string dari {nilai} adalah '{str(nilai)}'")
print(f"Bentuk pembulatan dua digit di belakang koma dari {nilai} adalah {round(nilai, 2)}")

Masukkan nilai desimal: 1.1234
Bentuk integer dari 1.1234 adalah 1
Bentuk string dari 1.1234 adalah '1.1234'
Bentuk pembulatan dua digit di belakang koma dari 1.1234 adalah 1.12

#Operasi Relasional

In [8]:
a = int(input("Masukkan Bilangan Pertama = "))
b = int(input("Masukkan Bilangan Kedua = "))
print()

print(f"{a} == {b} = {a == b}")
print(f"{a} != {b} = {a != b}")
print(f"{a} > {b} = {a > b}")
print(f"{a} < {b} = {a < b}")
print(f"{a} <= {b} = {a <= b}")
print(f"{a} >= {b} = {a >= b}")

Masukkan Bilangan Pertama = 20
Masukkan Bilangan Kedua = 10

20 == 10 = False
20 != 10 = True
20 > 10 = True
20 < 10 = False
20 <= 10 = False
20 >= 10 = True