<a href="https://colab.research.google.com/github/FaqihRamadhan/AlgoritmaDanPemrograman_POLINES/blob/main/Jobsheet10.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Praktikum 1

In [22]:
def bubble_sort(data):
    n = len(data)
    for i in range(n - 1): # Corrected outer loop for passes
        for j in range(0, n - i - 1): # Inner loop for comparisons
            if data[j] > data[j + 1]:
                data[j], data[j + 1] = data[j + 1], data[j]
    return data # Correctly indented

angka =[64, 34, 25, 12, 22, 11, 90]
print ("Data sebelum diurutkan:", angka)
print ("Data setelah Bubble Sort:", bubble_sort(angka))

Data sebelum diurutkan: [64, 34, 25, 12, 22, 11, 90]
Data setelah Bubble Sort: [11, 12, 22, 25, 34, 64, 90]

In [12]:
def bubble_sort(data):
    n = len(data)
    for i in range(n): # Corrected outer loop for passes
        for j in range(0, n - i - 1): # Inner loop for comparisons
            if data[j] > data[j + 1]:
                data[j], data[j + 1] = data[j + 1], data[j]
    return data # Correctly indented

angka = [64, 34, 25, 12, 22, 11, 90]
print("Data sebelum diurutkan:", angka)
print("Data setelah Bubble Sort:", bubble_sort(angka))

Data sebelum diurutkan: [64, 34, 25, 12, 22, 11, 90]
Data setelah Bubble Sort: [11, 12, 22, 25, 34, 64, 90]

#Praktikum 2

In [15]:
def selection_sort(data):
  n = len(data)
  for i in range(n):
    min_index = i
    for j in range (i + 1, n):
      if data[j] < data[min_index]:
        min_index = j
    data[i], data[min_index] = data[min_index], data[i]
  return data

angka = [64, 34, 25, 12, 22, 11, 90]
print("Data sebelum diurutkan:", angka)
print("Data setelah Selection Sort:", selection_sort(angka))

Data sebelum diurutkan: [64, 34, 25, 12, 22, 11, 90]
Data setelah Selection Sort: [11, 12, 22, 25, 34, 64, 90]

#Praktikum 3

In [18]:
def insertion_sort(data):
    n = len(data)
    for i in range(1, n):
      key = data[i]
      j = i - 1
      while j >= 0 and data[j] > key:
        data[j + 1] = data[j]
        j -= 1
      data[j + 1] = key
    return data

angka = [12, 11, 13, 5, 6]
print("Data sebelum diurutkan:", angka)
print("Data setelah Insertion Sort:", insertion_sort(angka))

Data sebelum diurutkan: [12, 11, 13, 5, 6]
Data setelah Insertion Sort: [5, 6, 11, 12, 13]

#Praktikum 4

In [20]:
def bubble_sort_nilai(data):
  n = len(data)
  for i in range(n):
    for j in range(0, n - i - 1):
      if data[j][1] < data[j + 1][1]:
        data[j], data[j + 1] = data[j + 1], data[j]
    return data

mahasiswa = [("Andi", 80), ("Budi", 70), ("Cici", 90), ("Doni", 85)]
print("Data sebelum diurutkan:", mahasiswa)
print("Data setelah diurutkan(desc):", bubble_sort_nilai(mahasiswa))

Data sebelum diurutkan: [('Andi', 80), ('Budi', 70), ('Cici', 90), ('Doni', 85)]
Data setelah diurutkan(desc): [('Andi', 80), ('Cici', 90), ('Doni', 85), ('Budi', 70)]

In [23]:
def bubble_sort_nilai(data):
  n = len(data)
  for i in range(n):
    for j in range(0, n - i - 1):
      if data[j][1] < data[j + 1][1]:
        data[j], data[j + 1] = data[j + 1], data[j]
  return data

mahasiswa = [("Andi", 80), ("Budi", 70), ("Cici", 90), ("Doni", 85)]
print("Data sebelum diurutkan:", mahasiswa)
print("Data setelah diurutkan (desc):", bubble_sort_nilai(mahasiswa))

Data sebelum diurutkan: [('Andi', 80), ('Budi', 70), ('Cici', 90), ('Doni', 85)]
Data setelah diurutkan (desc): [('Cici', 90), ('Doni', 85), ('Andi', 80), ('Budi', 70)]